img {
  width: 50%;
  border-radius: 10px;
}
#body {
  width: 100%;
}
#navBar {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 10;
}
body {
  background: rgb(255, 253, 253);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.939) 0%, rgb(136, 24, 255) 100%);
}
